/* body {
    margin: 0;
    padding: 0;
    font-family: Calibre,sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: rgb(78, 78, 78);
    color: rgb(197, 197, 197);
    letter-spacing: 0, 5%;
  }
  .header {
    margin: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 8%;
  }
  .nav {
    display: flex;
  }
  .logobn{
    margin-left: 3vh;
    width: 50px;
  }
  
  nav a{
    margin: 1vh;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.822);
  }
  nav a span{
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(173, 173, 173);
  }
  
  .main-box{
    margin: 0 8%;
  }
  
  .banner {
    background-color: rgb(46, 46, 46);
    display: flex;
  }
  .fotos {
    display: flex;
    max-width: 40%;
  }
  .about{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
  .about div{
    display: flex;
    align-self:center;
    justify-self: center;
    justify-content: center;
  }
  .skills {
    display: flex;
    align-items: center;
  }
  
  footer{
    margin: 0 8%;
    display: flex;
    flex-direction: column;
  }
  
  .midias{
    display: flex;
  }
  .midias p i {
    margin: 5px;
    font-size: 4vh;
  }
  
  h4{
    color:  rgb(212, 211, 211);
  }
  i {
    color: rgba(255, 255, 255, 0.822);
    font-size: 6vh;
  } */
