@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
}

body {
    background: url('./data/images/BackgroundFinal.png');
    background-color: #313740;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
}

.svghover:hover {
    filter: invert(45%) sepia(39%) saturate(402%) hue-rotate(135deg) brightness(89%) contrast(96%);
}

.anchor{
    display: block;
    height: 500px; /*same height as header*/
    margin-top: -500px; /*same height as header*/
    visibility: hidden;
  }

.anchorAbout {
  display: block;
  height: 40px; /*same height as header*/
  margin-top: -40px; /*same height as header*/
  visibility: hidden;
}

.anchorEx{
  display: block;
  height: 280px; /*same height as header*/
  margin-top: -280px; /*same height as header*/
  visibility: hidden;
}



  ::-webkit-scrollbar-track {
    background: #313740;
    opacity: 0.7;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(136, 136, 136);
    border: 3px solid #313740;
    border-radius: 10px;
  }

  ::-webkit-scrollbar{
    width: 12px;
  }