@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('./data/images/Wallpaper3.png');
    background-repeat: no-repeat;
    
    width: 100%;
    min-height: 100vh;
}