@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
  margin: 0 auto;
  max-width: 100%
}

body {
    background: url('./data/images/BackgroundFinal.png');
    background-color: #313740;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

@media only screen and (max-width: 639px) {
  body {
    /* background: url('./data/images/BackgroundMobile.png'); */
    background: #313740;
  }
}

.svghover:hover {
    filter: invert(45%) sepia(39%) saturate(402%) hue-rotate(135deg) brightness(89%) contrast(96%);
}

.anchor{
    display: block;
    height: 500px; /*same height as header*/
    margin-top: -500px; /*same height as header*/
    visibility: hidden;
  }

.anchorAbout {
  display: block;
  height: 40px; /*same height as header*/
  margin-top: -40px; /*same height as header*/
  visibility: hidden;
}

.anchorEx{
  display: block;
  height: 240px; /*same height as header*/
  margin-top: -240px; /*same height as header*/
  visibility: hidden;
}

.icon {
  position: absolute;
  z-index: 4;
  right: 1%;
  width: fit-content;
  height: 44px;
  cursor: pointer
}

.hamburguer {
  /* top: 50%; */
  right: 50px;
  width: 34px;
  height: 6px;
  background: white;
  position: absolute;
  box-shadow: 0 2px 5px rgba (0,0,0,0.2);
  transition: 0.5s;
}

.hamburguer::before {
  top: -12px;
  content: '';
  position: absolute;
  width: 37px;
  height: 6px;
  background: white;
  box-shadow: 0 2px 5px rgba (0,0,0,0.2);
  transition: 0.5s;
}

.hamburguer::after {
  top: 12px;
  content: '';
  position: absolute;
  width: 37px;
  height: 6px;
  background: white;
  box-shadow: 0 2px 5px rgba (0,0,0,0.2);
  transition: 0.5s;
}

.icon.iconActive .hamburguer {
  background: transparent;
  box-shadow: 0 2px 5px transparent;
}

.icon.iconActive .hamburguer:after {
  top: 0;
  background: #437c80;
  transform: rotate(225deg);
  box-shadow: 0 -2 5px rgba (0,0,0, 0.2)
}

.icon.iconActive .hamburguer:before {
  top: 0;
  background: #437c80;
  transform: rotate(135deg);
  box-shadow: 0 -2 5px rgba (0,0,0, 0.2)
}

/* .menu.menuOpen {
  width: 150px;
  height: 100vh;
  background: #000;
  box-shadow: 10px 0px 69px 0px rgba(0,0,0, 0.59);
}

.menu.menuClose {
  display: none;
  width: 0px;
} */

  ::-webkit-scrollbar-track {
    background: #313740;
    opacity: 0.7;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(136, 136, 136);
    border: 3px solid #313740;
    border-radius: 10px;
  }

  ::-webkit-scrollbar{
    width: 12px;
  }